#h1{
    align-items: center;
    font-size: 30px;
    color: black;
}

#head1{
    align-items: center;
    font-size: 30px;
}

#head2{
    align-items: left;
    font-size: 20px;
}

#head3{
    align-items: left;
    font-size: 20px;

}

#head4{
    align-items: left;
    font-size: 20px;
}
.div{
   text-align: center;
}