#mission {
    margin-left: 200px;
    margin-right: 200px;
    background-color: aqua;
}

#at {
    color: black;
    font-size: 30px;
    text-align: center;
}

.para3 {
    font-size: 20px;
}

.mini {
    text-align: center;
}

#tr {
    border-color: black;
}