#page {
    margin-left: 200px;
    margin-right: 200px;
    background-color: aqua;
}

#range {
    color: black;
    font-size: 30px;
    text-align: center;
}

.para5 {
    text-align: center;
    font-size: 25px;
}

#video {
    height: 600px;
    width: 1050px;
}

#button {
   margin-left: 450px;
   font-size: 20px;
   background-color: cornsilk;
}