/* src/pages/Home/Home.css */
.wel {
   background-image: url(/Image/hero-background.jpg);
   background-size: 1000px;
}

#h1 {
   color: white;
   font-size: 50px;
}

#h2 {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#apply {
   margin-left: 500px;
}

#now {
   font-size: 25px;
}

.para {
   text-align: center;
}

#h3 {
   text-align: center;
   font-size: 30px;
}

#h4 {
   text-align: center;
   font-size: 30px;
}

#campus {
   height: 500px;
   width: 500px;
}
#holding {
   height: 500px;
   width: 500px;
}

.home {
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: aqua;
}