#container {
    background-image: url(/Image/cointanier.jpg) ;
    background-size: 1400px;
    padding: 40px;align-items: center;


}

#h1 {
    text-align: center;
    font-size: 30px;
    color: white;
}

#h2 {
    text-align: center;
    font-size: 20px;
    color: rgb(243, 236, 237);
}

#button {
    background-color: rgb(240, 235, 235);
}

#h3 {
    text-align: left;
    font-size: 20px;
}

#h4 {
    text-align: left;
    font-size: 20px;
}

#explore {
    background-color: aquamarine;
    align-items: center;
}

#img {
    height: 300px;
    width: 500px;
}

#start {
    padding: 50pc;
}

#d {
    align-items: center;
}

#button {
    align-items: center;
}